.container-geral{}
.container-topo{
    display: flex;
    padding: 35px;
    flex-direction: row;
    justify-content: space-between;
}
.btn-esquerda{
    font-size: 40px;
    font-weight: bold;
    color: #5e2e21;

}
.btn-direita{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5e2e21;
    font-size: 30px;

}
 .container-esquerda{
    display: flex;
    flex-direction: column;
    background-color: #f3f2f0;
    align-items: center;
    height: 100vh;
    width: 70%;
    padding: 20px;
    
  
 }
.btn-menu{
    gap: 27px;
    display: flex;
    flex-direction: row;
    border: none;
    font-weight: bold;
    color: #5e2e21;
    cursor: pointer;
    font-size: 45px;
}
.btn-tudo{   
     display: flex;
    border-radius: 55px;
    border: 1px solid #867776;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btn-promocao{   
     display: flex;
    border-radius: 55px;
    border: 1px solid #867776;
    padding: 15px;
   
    width: 100%;
    justify-content: center;
    align-items: center;}
.btn-principal{   
     display: flex;
    border-radius: 55px;
    border: 1px solid #867776;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: center;}
.btn-aperitivos{   
     display: flex;
    border-radius: 55px;
    border: 1px solid #867776;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: center;}
.btn-bebida{   
     display: flex;
    border-radius: 55px;
    border: 1px solid #867776;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: center;}
.btn-sobremesa{   
    display: flex;
    border-radius: 55px;
    border: 1px solid #867776;
    padding: 15px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: center;}