<div class="container-geral">
    <div class="container-topo">
        <div class="btn-direita">
              <p>Omah Pincuk</p>
          
        </div>
        <div class="btn-esquerda">
              <p>minhas ordens</p>
            <p>Chamar Garçon</p>
          

        </div>
    </div>
    <div class="container-esquerda">
        <div class="btn-menu">
            <div class="btn-tudo"><p>Tudo</p></div>
            <div class="btn-promocao"> <p>Promoção</p></div>
            <div class="btn-principal"><p>Principal</p></div>
            <div class="btn-aperitivos"><p>Aperitivos</p></div>
            <div class="btn-bebida"><p>Bebidas</p></div>
            <div class="btn-sobremesa"><p>Sobremesas</p></div>
           
        </div>
    </div>
</div>