.container-geral{}
.container-topo{
    display: flex;
    border: 1px solid pink;
    flex-direction: row;
    justify-content: space-between;
}
.btn-esquerda{
    font-size: 40px;
    font-weight: bold;
    color: #5e2e21;
}
.btn-direita{
    display: flex;
    gap: 10px;  
    flex-direction: row ;
    justify-content: center ;
    align-items: center;

}
 .container-esquerda{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: #f3f2f0;
    align-items: center;
    height: 100vh;
    width: 70%;
    padding: 20px;
    
  
 }
.btn-menu{
    gap: 10px;
    display: flex;
 flex-direction: row;
 border: none;
 font-size: 16px;
 font-weight: bold;
 color: black;
    cursor: pointer;
}
.btn-tudo{
         display: flex;
    border-radius: 15px ;
    border :1px solid #867776;
    padding: 5px;
    color: black;
    font-weight: bold;  
}
.btn-promocao{
     display: flex;
    border-radius: 15px ;
    border :1px solid #867776;
    padding: 5px;
    color: black;
    font-weight: bold;  
    }
.btn-principal{      display: flex;
    border-radius: 15px ;
    border :1px solid #867776;
    padding: 5px;
    color: black;
    font-weight: bold;  }
.btn-aperitivos{      display: flex;
    border-radius: 15px ;
    border :1px solid #867776;
    padding: 5px;
    color: black;
    font-weight: bold;  }
.btn-bebida{      display: flex;
    border-radius: 15px ;
    border :1px solid #867776;
    padding: 5px;
    color: black;
    font-weight: bold;  }
.btn-sobremesa{      display: flex;
    border-radius: 15px ;
    border :1px solid #867776;
    padding: 5px;
    color: black;
    font-weight: bold;  }